body{
  background-image: url('./components/Imagenes/fondoPokeball.jpg');
}
.App {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
